# Servidor
PORT=8300
ENVIRONMENT=development

# PostgreSQL (use a porta NodePort descoberta com kubectl get services)
POSTGRES_HOST=localhost
POSTGRES_PORT=31672
POSTGRES_USER=instagram_downloader
POSTGRES_PASSWORD=SenhaMuitoForte123
POSTGRES_DB=instagram_downloader

# Redis (use a porta NodePort descoberta com kubectl get services)
REDIS_URL=redis://localhost:32640

# Segurança
SECRET_KEY=sua-chave-secreta-aqui-trocar-em-producao
